@model moviewatch.Models.MovieViewModel

@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Movie != null && Model.Movie.Id!=0)
{
    @Html.HiddenFor(m => m.Movie.Id);
    <h2>Edit Movie</h2>
}
else
{
    <h2>New Movie</h2>
}

@using (Html.BeginForm("Register", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>
    <div class="form-group">
        @Html.Label("Date of Release")
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.Label("Genre")
        @Html.DropDownListFor(m => m.Movie.genreid, new SelectList(Model.genre, "Id", "genre"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.genreid)
    </div>
    if (Model.Movie != null && Model.Movie.Id != 0)
    {
        @Html.HiddenFor(m => m.Movie.Id);
    }
    <button type="submit" class="btn btn-primary">Save</button>

}

